$item-background-color: #dcdcdc;


.todo-detail-panel {

  height: 100%;

  .todo-item-container {

    padding: 1em;
    margin: 1em;
    height: 100%;

    border-radius: .3em;

    background-color: $item-background-color;

    .item-field {
      padding-top: .4em;
      padding-bottom: .4em;
    }

    .item-value-title {
      font-family: "Marker Felt" "helvetica neue" "Arial";
      font-size: 160%;
      padding-bottom: .4em;
    }

    .item-label {
      color: lighten(#000000, 50%);
      margin-right: .3em;
      font-size: 80%;
    }

    .item-value-priority {

      @include display-box;
      @include box-orient(horizontal);

      .priority-low {
        border-radius: .5em;
        width: 1em;
        height: 1em;
        background-color: green;
      }
      .priority-medium {
        border-radius: .5em;
        width: 1em;
        height: 1em;
        background-color: orange;
      }
      .priority-high {
        border-radius: .5em;
        width: 1em;
        height: 1em;
        background-color: red;
      }
    }

    .item-value-description {
      font-family: "Marker Felt" "helvetica neue" "Arial";
      border-radius: .2em;
      padding: .2em;
      border: solid 1px lighten($base-color, 30%);
      background-color: lighten($item-background-color, 10%);
      min-height: 5em;
      height: 100%;
    }
    .item-value {
      color: lighten(#000000, 10%);
    }

    & > div {
      padding: .2em 0em;
    }
  }
}

@-webkit-keyframes greenPulse {
  from {
    background-color: #981111;
    -webkit-box-shadow: 0 0 9px #333;
  }
  50% {
    background-color: #FF8000;
    -webkit-box-shadow: 0 0 18px #981111;
  }
  to {
    background-color: #981111;
    -webkit-box-shadow: 0 0 9px #333;
  }
}